.directions {
    text-align: center;
}

body{
    /* background-image:url(https://images.pexels.com/photos/1029604/pexels-photo-1029604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background: grey;
}

#directions {
    width: 600px;
    padding: 20px;
    background-color: lightgray;
}

button{
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
}

.page-header{
    text-align: center;
    padding: 50px 20px;
    color: white;
    font-weight: bold;
}

#randomscore{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

img:hover{
    opacity: .3;
    cursor: pointer;
}

img:active{
    opacity: .7;
    cursor: pointer;
}

.reset{
    margin-left: 60px;
}

#crystals,
#scorekeeper,
#reset{
    width: 1440px;
    padding: 0px;
    padding-top: 20px;
}

#randomscore{
    padding: 20px;
}

#win-or-lose{
    color: red;
}