.directions {
    text-align: center;
}

#directions {
    width: 600px;
    padding: 20px;
}

button{
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
}

.page-header{
    text-align: center;
    padding: 50px 20px;
}

#randomscore{
    text-align: center;
}