div#preload{
    display: none;
}

.directions {
    text-align: center;
}

body{
    background-image:url(http://www.seekgif.com/uploads/blue-low-poly-colors-hd-motion-background-10.jpeg);
    /* background: grey; */
}

#directions {
    width: 600px;
    padding: 20px;
    background-color: lightgray;
}

button{
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
}

.page-header{
    text-align: center;
    padding: 50px 20px;
    font-weight: bold;
}

#randomscore{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

img:hover{
    opacity: .3;
    cursor: pointer;
}

img:active{
    opacity: .7;
    cursor: pointer;
}

.reset{
    margin-left: 55px;
}

#crystals,
#scorekeeper,
#reset{
    width: 1440px;
    padding: 0px;
    padding-top: 20px;
}

#randomscore{
    padding: 20px;
}

.right{
    text-align: center;
}

#scorekeeper{
    font-size: 30px;
}